/****** Template Variables and Bootstrap Color Overrides ******/
/*
@navbar-inverse-search-bg:                  lighten(@navbar-inverse-bg, 25%);
@navbar-inverse-search-bg-focus:            @white; //#fff;
@navbar-inverse-search-border:              @navbar-inverse-bg;
@navbar-inverse-search-placeholder-color:   rgb(204,204,204);
*/
/*
@state-warning-text:             rgb(192,152,83); //#c09853;
@state-warning-bg:               rgb(252,248,227); //#fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text:              rgb(185,74,72); //#b94a48;
@state-danger-bg:                rgb(242,222,222); //#f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 3%);

@state-success-text:             rgb(70,136,71); //#468847;
@state-success-bg:               rgb(223,240,216); //#dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                rgb(58,135,173); //#3a87ad;;
@state-info-bg:                  rgb(217,237,247); //#d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);
*/
/*
// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
// For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
// For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((1140px + @grid-gutter-width));
// For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
 //rgb(221,221,221); // #ddd; inline; inline; //@gray-ccc; //rgb(204,204,204); //#ccc; #888; //@white; //#fff;
// Modal content border color **for IE8**;;; ///rgb(245,245,245);inline;
*/
