// Type

// Text muted color
@text-muted:                  @gray-light;
// Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
// Headings small color
@headings-small-color:        @gray-light;
// Blockquote small color
@blockquote-small-color:      @gray-light;
// Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
// Blockquote border color
@blockquote-border-color:     @gray-lighter;
// Page header border color
@page-header-border-color:    @gray-lighter;